<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headform('心理测评中心-控制台')" />
    <style type="text/css">
        .wrapper_box {
            margin: 0;
            padding: 10px;
        }
    </style>
</head>
<body>

<div class="wrapper_box">
    <br/>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">评测名称</label>
            <div class="layui-input-block">
                <input type="text" id="examsTitle" name="examsTitle" required lay-verify="required" placeholder="请输入名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">测评类型</label>
                <div class="layui-input-block">
                    <select id="classNo" name="classNo">
                        <option value="">选择类型</option>
                        <option th:each="item:${classList}" th:value="${item.key}"
                                th:text="${item.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">问卷</label>
                <div class="layui-input-block">
                    <select id="paperNo" name="paperNo">
                        <option value="">选择问卷</option>
                        <option th:each="item:${paperList}" th:value="${item.key}"
                                th:text="${item.value}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="startDate" name="startDate" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">测评次数</label>
                <div class="layui-input-inline">
                    <input type="text" id="examsTimes" name="examsTimes"  class="layui-input" placeholder="测评次数">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="enditDate" name="enditDate" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">测评人员</label>
                <div class="layui-input-block">
                    <input type="text" id="examsRusers" name="examsRusers"  class="layui-input" placeholder="选择人员"  disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <input type="hidden" id="examsPoster" name="examsPoster"/>
                <button type="button" class="layui-btn layui-btn-normal" id="mposter"><i class="layui-icon"></i>上传文件</button>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">评测简介</label>
            <div class="layui-input-block">
                <textarea id="examsDesc" name="examsDesc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" onclick="onSave()">提交</button>
            </div>
        </div>
    </form>
</div>

</div>

<th:block th:include="include :: scriptform" />
<script type="text/javascript" th:inline="javascript">
    layui.use(['laydate','upload'], function () {
        var laydate = layui.laydate,upload = layui.upload;

        //常规用法
        laydate.render({
            elem: '#startDate'
        });
        laydate.render({
            elem: '#enditDate'
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#mposter'
            ,url: '/pagesview/upload' //改成您自己的上传接口
            ,done: function(res){
                //如果上传成功
                if(res.code ===0){
                    $("input[name='examsPoster']").val(res.data);
                }else{
                    layer.msg('上传失败');
                }
            }
        });
    });

    function onSave(){
        var title = $("input[name='examsTitle']").val();
        var classNo = $("#classNo").val();
        var paperNo = $("#paperNo").val();
        var startDate = $("input[name='startDate']").val();
        var enditDate = $("input[name='enditDate']").val();
        var times = $("input[name='examsTimes']").val();
        var rusers = $("input[name='examsRusers']").val();
        var poster = $("input[name='examsPoster']").val();
        var desc = $("#examsDesc").val();

        $.ajax({
            type: "post",
            url: "/adminview/saveExams",
            data: {
                "title": title,
                "classNo": classNo,
                "paperNo": paperNo,
                "startDate": startDate,
                "enditDate": enditDate,
                "times": times,
                "rusers": rusers,
                "poster": poster,
                "desc": desc
            },
            success: function(res) {
                layer.msg(res.msg)
            }
        });
    }
    function onCancel(){
        layer.closeAll();
    }
</script>
</body>
</html>