<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title th:text="心理测评中心-登录"></title>
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontello.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontello-codes.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/color.css}">
</head>
<body>

<div class="wrapper">
    <th:block th:include="include :: topsimpbar" />

    <section class="form_popup">
        <div class="login_form" id="login_form">
            <div class="hd-lg">
                <span>后台管理登录</span>
            </div><!--hd-lg end-->
            <div class="user-account-pr">
                <form>
                    <div class="input-sec">
                        <input type="text" name="username" placeholder="账号">
                    </div>
                    <div class="input-sec">
                        <input type="Password" name="password" placeholder="密码">
                    </div>
                    <div class="input-sec mb-0">
                        <button type="button" onclick="signin()">登录</button>
                    </div><!--input-sec end-->
                </form>
            </div><!--user-account end--->
        </div><!--login end--->

    </section><!--form_popup end-->

    <th:block th:include="include :: copyright" />
</div><!--wrapper end-->

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:inline="javascript"> var ctx = [[@{/}]]; </script>
<script type="text/javascript" th:inline="javascript">

    function getCode() {
        document.getElementById("verifyCode").setAttribute("src","/getCode");
    }

    function signin() {
        var username = $("input[name='username']").val();
        var password = $("input[name='password']").val();

        $.ajax({
            type: "post",
            url: "/adminview/ajaxLogin",
            data: {
                "username": username,
                "password": password
            },
            success: function(res) {
                if(res.code===200){
                    location.href = ctx + 'adminview/exams';
                }else {
                    layer.msg(res.msg)
                }
            }
        });
    }
</script>

</body>
</html>