<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mn-vid-sc single_video">
                        <div class="vid-1">
                            <div class="vid-info">
                                <h3>主题活动名称</h3>
                                <div class="info-pr">
                                    <span>浏览次数：33</span>
                                    <div class="clearfix"></div>
                                </div><!--info-pr end-->
                            </div><!--vid-info end-->
                        </div><!--vid-1 end-->
                        <div class="abt-mk">
                            <div class="info-pr-sec">
                                <div class="vcp_inf cr">
                                    <div class="vc_hd">
                                        <img th:src="@{/imgs/resources/vide6.png}" alt="海报图片">
                                    </div>
                                    <div class="vc_info pr">
                                        <h4>张三</h4>
                                        <span>状态：已预约</span>
                                    </div>
                                </div><!--vcp_inf end-->
                                <ul class="chan_cantrz">
                                    <li>
                                        <a href="#" title="" class="donate">马上预约</a>
                                    </li>
                                    <li>
                                        <a href="#" title="" class="subscribe">订阅收藏</a>
                                    </li>
                                </ul><!--chan_cantrz end-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="about-ch-sec">
                                <div class="abt-rw">
                                    <h4>活动时间:</h4>
                                    <p>2020-09-09</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动费用:</h4>
                                    <p>免费</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动人数:</h4>
                                    <p>3/50</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动地址:</h4>
                                    <p>asdfadsfafdsafafds</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动简介 : </h4>
                                    <p>asfdadsfafdsafdsaf</p>
                                </div>
                                <div class="abt-rw tgs">
                                    <h4>标签 : </h4>
                                    <ul>
                                        <li><a href="#" title="">#afas</a></li>
                                        <li><a href="#" title="">#denim</a></li>
                                        <li><a href="#" title="">#tshirt</a></li>
                                    </ul>
                                </div>
                            </div><!--about-ch-sec end-->
                        </div><!--abt-mk end-->
                    </div><!--mn-vid-sc end--->
                </div><!---col-lg-9 end-->
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="vidz-prt">
                            <h2 class="sm-vidz" style="font-weight: bold;">推荐咨询师</h2>
                            <div class="clearfix"></div>
                        </div><!--vidz-prt end-->
                        <div class="videoo-list-ab">
                            <div class="videoo">
                                <div class="vid_thumbainl">
                                    <a href="#" title="马上预约">
                                        <img src="http://127.0.0.1:8095/imgs/resources/vide6.png" alt="">
                                    </a>
                                </div><!--vid_thumbnail end-->
                                <div class="video_info">
                                    <h3><a href="#" title="马上预约">张三</a></h3>
                                    <h4>心理咨询师</h4>
                                    <span>咨询人数：2K.  <small class="posted_dt">1天前</small></span>
                                </div>
                            </div><!--videoo end-->
                            <div class="videoo">
                                <div class="vid_thumbainl">
                                    <a href="#" title="马上预约">
                                        <img src="http://127.0.0.1:8095/imgs/resources/vide6.png" alt="">
                                    </a>
                                </div><!--vid_thumbnail end-->
                                <div class="video_info">
                                    <h3><a href="#" title="马上预约">李四</a></h3>
                                    <h4>心理咨询师</h4>
                                    <span>咨询人数：2K.  <small class="posted_dt">1周前</small></span>
                                </div>
                            </div><!--videoo end-->
                        </div><!--videoo-list-ab end-->
                    </div><!--side-bar end-->
                </div>
            </div>
        </div>
    </section><!--mn-sec end-->

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>

</html>