<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mn-vid-sc single_video">
                        <div class="vid-1">
                            <div class="vid-info">
                                <h3>[[${salonInfo.salonName}]]</h3>
                                <div class="info-pr">
                                    <span>审核状态：[[${salonInfo.checkState}]]</span>
                                    <div class="clearfix"></div>
                                </div><!--info-pr end-->
                            </div><!--vid-info end-->
                        </div><!--vid-1 end-->
                        <div class="abt-mk">
                            <div class="info-pr-sec">
                                <div class="vcp_inf cr">
                                    <div class="vc_hd">
                                        <img th:src="(${salonInfo.salonPoster} == '') ? @{/imgs/resources/vide6.png} : @{${salonInfo.salonPoster}}" alt="海报图片">
                                    </div>
                                    <div class="vc_info pr">
                                        <h4>张三</h4>
                                        <span>状态：已预约</span>
                                    </div>
                                </div><!--vcp_inf end-->
                                <ul class="chan_cantrz">
                                    <li>
                                        <a href="javascript:void(0);" title="马上报名" class="donate" th:onclick="onRegist([[${salonInfo.salonNo}]])">马上报名</a>
                                    </li>
                                    <!--
                                    <li>
                                        <a href="#" title="" class="subscribe">订阅收藏</a>
                                    </li>
                                    -->
                                </ul><!--chan_cantrz end-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="about-ch-sec">
                                <div class="abt-rw">
                                    <h4>活动时间:</h4>
                                    <p>[[${salonInfo.startTime}]]</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动费用:</h4>
                                    <p>免费</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动人数:</h4>
                                    <p>[[${salonInfo.salonRusers}]]</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动地址:</h4>
                                    <p>[[${salonInfo.salonAddress}]]</p>
                                </div>
                                <div class="abt-rw">
                                    <h4>活动简介 : </h4>
                                    <p>[[${salonInfo.salonContent}]]</p>
                                </div>
                                <div class="abt-rw tgs">
                                    <h4>标签 : </h4>
                                    <ul>
                                        <li><a href="#" title="">#[[${salonInfo.className}]]</a></li>
                                        <li><a href="#" title="">#denim</a></li>
                                        <li><a href="#" title="">#tshirt</a></li>
                                    </ul>
                                </div>
                            </div><!--about-ch-sec end-->
                        </div><!--abt-mk end-->
                    </div><!--mn-vid-sc end--->
                </div><!---col-lg-9 end-->
                <div class="col-lg-3">
                    <th:block th:include="include :: topexperts" />
                </div>
            </div>
        </div>
    </section><!--mn-sec end-->

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
<script type="text/javascript" >
    function onRegist(val){
        layer.open({
            type: 2,
            title: '主题活动报名',
            shadeClose: true,
            shade: false,
            maxmin: false, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: '/salonsview/regist?id='+val
        });
    }
</script>
</body>

</html>