<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headform('心理测评中心-控制台')" />
    <style type="text/css">
        .wrapper_box {
            margin: 0;
            padding: 10px;
        }
    </style>
</head>
<body>

<div class="wrapper_box">
    <br/>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">活动名称</label>
            <div class="layui-input-block">
                <input type="hidden" id="salonNo" name="salonNo" th:value="${salonInfo.salonNo}" >
                <input type="text" id="salonName" name="salonName" th:value="${salonInfo.salonName}" readonly class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">活动时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="startTime" name="startTime" readonly th:value="${salonInfo.startTime}">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">活动地址</label>
                <div class="layui-input-inline">
                    <input type="text" id="salonAddress" name="salonAddress" readonly class="layui-input" th:value="${salonInfo.salonAddress}">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">活动说明</label>
            <div class="layui-input-block">
                <textarea id="salonContent" name="salonContent" class="layui-textarea">
                    [[${salonInfo.salonContent}]]
                </textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">验证文本</label>
                <div class="layui-input-block">
                    <input type="text" id="validStr" name="validStr" required lay-verify="required" placeholder="请输入YES"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" onclick="onRegist()">确认报名</button>
            </div>
        </div>
    </form>
</div>

</div>

<th:block th:include="include :: scriptform" />
<script type="text/javascript" th:inline="javascript">

    function onRegist(){

        var salonNo = $("input[name='salonNo']").val();
        var validStr = $("input[name='validStr']").val();

        if(validStr=='YES'){
            $.ajax({
                type: "post",
                url: "/salonsview/saveRegist",
                data: {
                    "salonNo": salonNo
                },
                success: function(res) {
                    layer.msg(res.msg)
                }
            });
        }else{
            layer.msg("请输入验证文本YES并提交!");
        }
    }
    function onCancel(){
        layer.closeAll();
    }
</script>
</body>
</html>