<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-帮助文档')" />
</head>
<body>
<div class="wrapper">
    <th:block th:include="include :: topsimpbar" />
    <div class="container">
        <div style="padding: 20px 5px;">
            <h1>使用条款</h1>
            <p>接受条款：为您提供的服务须受以下使用条款（“TOU”）的约束。我们保留随时更新 TOU 的权利，恕不另行通知。单击网页底部的“条款”超文本链接，可查看最新版本的 TOU。</p>
        </div>
    </div>
    <th:block th:include="include :: copyright" />
</div><!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>
</html>