<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-帮助文档')" />
</head>
<body>
<div class="wrapper">
    <th:block th:include="include :: topsimpbar" />
    <div class="container">
        <div style="padding: 20px 5px;">
            <h1>隐私声明</h1>
            <p>我们十分重视你的隐私。 本隐私声明阐述了我们处理个人数据方式和目的</p>
        </div>
    </div>
    <th:block th:include="include :: copyright" />
</div><!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>
</html>