<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mn-vid-sc single_video">
                        <div class="vid-1">
                            <div class="vid-info">
                                <h3>Kingdom Come: Deliverance Funny Moments and Fails Compilation</h3>
                                <div class="info-pr">
                                    <span>60,723,169 views</span>
                                    <ul class="pr_links">
                                        <li>
                                            <button data-toggle="tooltip" data-placement="top" title="I like this">
                                                <i class="icon-thumbs_up_fill"></i>
                                            </button>
                                            <span>388K</span>
                                        </li>
                                        <li>
                                            <button data-toggle="tooltip" data-placement="top" title="I dislike this">
                                                <i class="icon-thumbs_down_fill"></i>
                                            </button>
                                            <span>28K</span>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div><!--info-pr end-->
                            </div><!--vid-info end-->
                        </div><!--vid-1 end-->
                        <div class="abt-mk">
                            <div class="info-pr-sec">
                                <div class="vcp_inf cr">
                                    <div class="vc_hd">
                                        <img src="images/resources/th5.png" alt="">
                                    </div>
                                    <div class="vc_info pr">
                                        <h4><a href="#" title="">ScereBro</a></h4>
                                        <span>Published on Oct 22, 2017</span>
                                    </div>
                                </div><!--vcp_inf end-->
                                <ul class="chan_cantrz">
                                    <li>
                                        <a href="#" title="" class="donate">Donate</a>
                                    </li>
                                    <li>
                                        <a href="#" title="" class="subscribe">Subscribe <strong>13M</strong></a>
                                    </li>
                                </ul><!--chan_cantrz end-->
                                <ul class="df-list">
                                    <li>
                                        <button data-toggle="tooltip" data-placement="top" title="Add to playlist">
                                            <i class="icon-add_to_playlist"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-toggle="tooltip" data-placement="top" title="Favorite">
                                            <i class="icon-like"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-toggle="tooltip" data-placement="top" title="Watch Later">
                                            <i class="icon-watch_later"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-toggle="tooltip" data-placement="top" title="Share">
                                            <i class="icon-share"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button data-toggle="tooltip" data-placement="top" title="Report Video">
                                            <i class="icon-flag"></i>
                                        </button>
                                    </li>
                                </ul><!--df-list end-->
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="about-ch-sec">
                                <div class="abt-rw">
                                    <h4>Cast:</h4>
                                    <ul>
                                        <li><span>Nathan Drake</span></li>
                                        <li><span>Victor Sullivan </span></li>
                                        <li><span>Sam Drake </span></li>
                                        <li><span>Elena Fisher</span></li>
                                    </ul>
                                </div>
                                <div class="abt-rw">
                                    <h4>Category : </h4>
                                    <ul>
                                        <li><span>Gaming</span></li>
                                        <li><span>PS4 Exclusive  </span></li>
                                        <li><span>Gameplay  </span></li>
                                        <li><span>1080p</span></li>
                                    </ul>
                                </div>
                                <div class="abt-rw">
                                    <h4>About : </h4>
                                    <p> Three years after the events of Uncharted 3: Drake's Deception, Nathan Drake, now retired as a fortune hunter, has settled into a normal life with his wife Elena Fisher. His world is then turned upside down when his older brother Sam, long believed to be dead, suddenly reappears seeking Drake's help. </p>
                                </div>
                                <div class="abt-rw tgs">
                                    <h4>Tags : </h4>
                                    <ul>
                                        <li><a href="#" title="">#Kingdom</a></li>
                                        <li><a href="#" title="">#ImStillHereBecause </a></li>
                                        <li><a href="#" title="">#denim</a></li>
                                        <li><a href="#" title="">#tshirt</a></li>
                                    </ul>
                                </div>
                            </div><!--about-ch-sec end-->
                        </div><!--abt-mk end-->

                    </div><!--mn-vid-sc end--->
                </div><!---col-lg-9 end-->
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="vidz-prt">
                            <h2 class="sm-vidz" style="font-weight: bold;">推荐咨询师</h2>
                            <div class="clearfix"></div>
                        </div><!--vidz-prt end-->
                        <div class="videoo-list-ab">
                            <div class="videoo">
                                <div class="vid_thumbainl">
                                    <a href="#" title="马上预约">
                                        <img src="http://127.0.0.1:8095/imgs/resources/vide6.png" alt="">
                                    </a>
                                </div><!--vid_thumbnail end-->
                                <div class="video_info">
                                    <h3><a href="#" title="马上预约">张三</a></h3>
                                    <h4>心理咨询师</h4>
                                    <span>咨询人数：2K.  <small class="posted_dt">1天前</small></span>
                                </div>
                            </div><!--videoo end-->
                            <div class="videoo">
                                <div class="vid_thumbainl">
                                    <a href="#" title="马上预约">
                                        <img src="http://127.0.0.1:8095/imgs/resources/vide6.png" alt="">
                                    </a>
                                </div><!--vid_thumbnail end-->
                                <div class="video_info">
                                    <h3><a href="#" title="马上预约">李四</a></h3>
                                    <h4>心理咨询师</h4>
                                    <span>咨询人数：2K.  <small class="posted_dt">1周前</small></span>
                                </div>
                            </div><!--videoo end-->
                        </div><!--videoo-list-ab end-->
                    </div><!--side-bar end-->
                </div>
            </div>
        </div>
    </section><!--mn-sec end-->

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>

</html>