<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benet.system.mapper.SysAppinfoMapper">

    <resultMap type="SysAppinfo" id="SysAppinfoResult">
        <result property="id" column="id"/>
        <result property="appNo" column="app_no"/>
        <result property="appCnname" column="app_cnname"/>
        <result property="appEnname" column="app_enname"/>
        <result property="appCode" column="app_code"/>
        <result property="classNo" column="class_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="appUrl" column="app_url"/>
        <result property="appVer" column="app_ver"/>
        <result property="email" column="email"/>
        <result property="summary" column="summary"/>
        <result property="edogNo" column="edog_no"/>
        <result property="edogType" column="edog_type"/>
        <result property="registDate" column="regist_date"/>
        <result property="activeDate" column="active_date"/>
        <result property="activeCount" column="active_count"/>
        <result property="activeCode" column="active_code"/>
        <result property="checkState" column="check_state"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="comments" column="comments"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectSysAppinfoVo">
        select id, app_no, app_cnname, app_enname, app_code, class_no, order_no, app_url, app_ver, email, summary, edog_no, edog_type, regist_date, active_date, active_count, active_code, check_state, create_by, create_time, update_by, update_time, delete_flag, comments, version from sys_appinfo
    </sql>

    <select id="getAllRecords" resultMap="SysAppinfoResult">
        <include refid="selectSysAppinfoVo"/>
        where delete_flag='1'
    </select>

    <select id="getRecordsByClassNo" resultMap="SysAppinfoResult">
        <include refid="selectSysAppinfoVo"/>
        where delete_flag='1' and class_no=#{classNo}
    </select>

    <select id="getRecordsByPaging" resultMap="SysAppinfoResult">
        <include refid="selectSysAppinfoVo"/>
        where delete_flag='1'
        <if test="model.condition != null  and model.condition != ''">and ${model.condition}</if>
        order by #{model.orderField} #{model.orderType} limit #{model.pageIndex},#{model.pageSize}
    </select>

    <select id="getRecordByNo" resultMap="SysAppinfoResult">
        <include refid="selectSysAppinfoVo"/>
        where delete_flag='1' and app_no = #{no}
    </select>

    <select id="getRecordNameByNo" resultType="String">
        select app_cnname from sys_appinfo
        where delete_flag='1' and app_no = #{no}
    </select>

    <select id="getCountByCondition" resultType="Integer">
        select count(*) from sys_appinfo
        where delete_flag='1'
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </select>

    <insert id="AddNewRecord" parameterType="SysAppinfo" useGeneratedKeys="true" keyProperty="id">
        insert into sys_appinfo (
        <if test="info.appNo != null  and info.appNo != ''">app_no,</if>
        <if test="info.appCnname != null  and info.appCnname != ''">app_cnname,</if>
        <if test="info.appEnname != null  and info.appEnname != ''">app_enname,</if>
        <if test="info.appCode != null  and info.appCode != ''">app_code,</if>
        <if test="info.classNo != null  and info.classNo != ''">class_no,</if>
        <if test="info.orderNo != null ">order_no,</if>
        <if test="info.appUrl != null  and info.appUrl != ''">app_url,</if>
        <if test="info.appVer != null  and info.appVer != ''">app_ver,</if>
        <if test="info.email != null  and info.email != ''">email,</if>
        <if test="info.summary != null  and info.summary != ''">summary,</if>
        <if test="info.edogNo != null  and info.edogNo != ''">edog_no,</if>
        <if test="info.edogType != null  and info.edogType != ''">edog_type,</if>
        <if test="info.registDate != null ">regist_date,</if>
        <if test="info.activeDate != null ">active_date,</if>
        <if test="info.activeCount != null ">active_count,</if>
        <if test="info.activeCode != null  and info.activeCode != ''">active_code,</if>
        <if test="info.checkState != null  and info.checkState != ''">check_state,</if>
        <if test="info.createBy != null  and info.createBy != ''">create_by,</if>
        <if test="info.createTime != null ">create_time,</if>
        <if test="info.updateBy != null  and info.updateBy != ''">update_by,</if>
        <if test="info.updateTime != null ">update_time,</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag,</if>
        <if test="info.comments != null  and info.comments != ''">comments,</if>
        <if test="info.version != null ">version</if>
        )values(
        <if test="info.appNo != null  and info.appNo != ''">#{info.appNo},</if>
        <if test="info.appCnname != null  and info.appCnname != ''">#{info.appCnname},</if>
        <if test="info.appEnname != null  and info.appEnname != ''">#{info.appEnname},</if>
        <if test="info.appCode != null  and info.appCode != ''">#{info.appCode},</if>
        <if test="info.classNo != null  and info.classNo != ''">#{info.classNo},</if>
        <if test="info.orderNo != null ">#{info.orderNo},</if>
        <if test="info.appUrl != null  and info.appUrl != ''">#{info.appUrl},</if>
        <if test="info.appVer != null  and info.appVer != ''">#{info.appVer},</if>
        <if test="info.email != null  and info.email != ''">#{info.email},</if>
        <if test="info.summary != null  and info.summary != ''">#{info.summary},</if>
        <if test="info.edogNo != null  and info.edogNo != ''">#{info.edogNo},</if>
        <if test="info.edogType != null  and info.edogType != ''">#{info.edogType},</if>
        <if test="info.registDate != null ">#{info.registDate},</if>
        <if test="info.activeDate != null ">#{info.activeDate},</if>
        <if test="info.activeCount != null ">#{info.activeCount},</if>
        <if test="info.activeCode != null  and info.activeCode != ''">#{info.activeCode},</if>
        <if test="info.checkState != null  and info.checkState != ''">#{info.checkState},</if>
        <if test="info.createBy != null  and info.createBy != ''">#{info.createBy},</if>
        <if test="info.createTime != null ">#{info.createTime},</if>
        <if test="info.updateBy != null  and info.updateBy != ''">#{info.updateBy},</if>
        <if test="info.updateTime != null ">#{info.updateTime},</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">#{info.deleteFlag},</if>
        <if test="info.comments != null  and info.comments != ''">#{info.comments},</if>
        <if test="info.version != null ">#{info.version}</if>
        )
    </insert>

    <update id="UpdateRecord" parameterType="SysAppinfo">
        update sys_appinfo
        <set>
            <if test="info.appNo != null  and info.appNo != ''">app_no = #{info.appNo},</if>
            <if test="info.appCnname != null  and info.appCnname != ''">app_cnname = #{info.appCnname},</if>
            <if test="info.appEnname != null  and info.appEnname != ''">app_enname = #{info.appEnname},</if>
            <if test="info.appCode != null  and info.appCode != ''">app_code = #{info.appCode},</if>
            <if test="info.classNo != null  and info.classNo != ''">class_no = #{info.classNo},</if>
            <if test="info.orderNo != null ">order_no = #{info.orderNo},</if>
            <if test="info.appUrl != null  and info.appUrl != ''">app_url = #{info.appUrl},</if>
            <if test="info.appVer != null  and info.appVer != ''">app_ver = #{info.appVer},</if>
            <if test="info.email != null  and info.email != ''">email = #{info.email},</if>
            <if test="info.summary != null  and info.summary != ''">summary = #{info.summary},</if>
            <if test="info.edogNo != null  and info.edogNo != ''">edog_no = #{info.edogNo},</if>
            <if test="info.edogType != null  and info.edogType != ''">edog_type = #{info.edogType},</if>
            <if test="info.registDate != null ">regist_date = #{info.registDate},</if>
            <if test="info.activeDate != null ">active_date = #{info.activeDate},</if>
            <if test="info.activeCount != null ">active_count = #{info.activeCount},</if>
            <if test="info.activeCode != null  and info.activeCode != ''">active_code = #{info.activeCode},</if>
            <if test="info.checkState != null  and info.checkState != ''">check_state = #{info.checkState},</if>
            <if test="info.createBy != null  and info.createBy != ''">create_by = #{info.createBy},</if>
            <if test="info.createTime != null ">create_time = #{info.createTime},</if>
            <if test="info.updateBy != null  and info.updateBy != ''">update_by = #{info.updateBy},</if>
            <if test="info.updateTime != null ">update_time = #{info.updateTime},</if>
            <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag = #{info.deleteFlag},</if>
            <if test="info.comments != null  and info.comments != ''">comments = #{info.comments},</if>
            <if test="info.version != null ">version = version+1</if>
        </set>
        where delete_flag='1' and version=#{info.version} and app_no = #{info.appNo}
    </update>

    <delete id="HardDeleteByNo">
        delete from sys_appinfo
        where delete_flag='1' and app_no = #{no}
    </delete>

    <delete id="HardDeleteByNos">
        delete from sys_appinfo
        where delete_flag='1' and app_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="HardDeleteByCondition">
        delete from sys_appinfo
        where delete_flag='1'
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

    <delete id="SoftDeleteByNo">
        update sys_appinfo set delete_flag='0'
        where delete_flag='1' and app_no = #{no}
    </delete>

    <delete id="SoftDeleteByNos">
        update sys_appinfo set delete_flag='0'
        where delete_flag='1' and app_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="SoftDeleteByCondition">
        update sys_appinfo set delete_flag='0'
        where delete_flag='1'
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

</mapper>