<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benet.system.mapper.SysDepartmentMapper">

    <resultMap type="SysDepartment" id="SysDepartmentResult">
        <result property="id" column="id"/>
        <result property="deptNo" column="dept_no"/>
        <result property="deptName" column="dept_name"/>
        <result property="parentNo" column="parent_no"/>
        <result property="orderNo" column="order_no"/>
        <result property="ancestors" column="ancestors"/>
        <result property="leader" column="leader"/>
        <result property="telephone" column="telephone"/>
        <result property="email" column="email"/>
        <result property="checkState" column="check_state"/>
        <result property="branchNo" column="branch_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="comments" column="comments"/>
        <result property="appCode" column="app_code"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectSysDepartmentVo">
        select id, dept_no, dept_name, parent_no, order_no, ancestors, leader, telephone, email, check_state, branch_no, create_by, create_time, update_by, update_time, delete_flag, comments, app_code, version from sys_department
    </sql>

    <select id="getAllRecords" resultMap="SysDepartmentResult">
        <include refid="selectSysDepartmentVo"/>
        where delete_flag='1' and app_code=#{appCode}
    </select>

    <select id="getRecordsByClassNo" resultMap="SysDepartmentResult">
        <include refid="selectSysDepartmentVo"/>
        where delete_flag='1' and app_code=#{appCode} and parent_no=#{classNo}
    </select>

    <select id="getRecordsByPaging" resultMap="SysDepartmentResult">
        <include refid="selectSysDepartmentVo"/>
        where delete_flag='1' and app_code=${appCode}
        <if test="model.condition != null  and model.condition != ''">and ${model.condition}</if>
        order by ${model.orderField} ${model.orderType} limit ${model.pageIndex},${model.pageSize}
    </select>

    <select id="getRecordByNo" resultMap="SysDepartmentResult">
        <include refid="selectSysDepartmentVo"/>
        where delete_flag='1' and app_code=#{appCode} and dept_no = #{no}
    </select>

    <select id="getRecordNameByNo" resultType="String">
        select dept_name from sys_department
        where delete_flag='1' and app_code=#{appCode} and dept_no = #{no}
    </select>

    <select id="getCountByCondition" resultType="Integer">
        select count(*) from sys_department
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''"> and ${condition}</if>
    </select>

    <insert id="AddNewRecord" parameterType="SysDepartment" useGeneratedKeys="true" keyProperty="id">
        insert into sys_department (
        <if test="info.deptNo != null  and info.deptNo != ''">dept_no,</if>
        <if test="info.deptName != null  and info.deptName != ''">dept_name,</if>
        <if test="info.parentNo != null  and info.parentNo != ''">parent_no,</if>
        <if test="info.orderNo != null ">order_no,</if>
        <if test="info.ancestors != null  and info.ancestors != ''">ancestors,</if>
        <if test="info.leader != null  and info.leader != ''">leader,</if>
        <if test="info.telephone != null  and info.telephone != ''">telephone,</if>
        <if test="info.email != null  and info.email != ''">email,</if>
        <if test="info.checkState != null  and info.checkState != ''">check_state,</if>
        <if test="info.branchNo != null  and info.branchNo != ''">branch_no,</if>
        <if test="info.createBy != null  and info.createBy != ''">create_by,</if>
        <if test="info.createTime != null ">create_time,</if>
        <if test="info.updateBy != null  and info.updateBy != ''">update_by,</if>
        <if test="info.updateTime != null ">update_time,</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag,</if>
        <if test="info.comments != null  and info.comments != ''">comments,</if>
        <if test="info.appCode != null  and info.appCode != ''">app_code,</if>
        <if test="info.version != null ">version</if>
        )values(
        <if test="info.deptNo != null  and info.deptNo != ''">#{info.deptNo},</if>
        <if test="info.deptName != null  and info.deptName != ''">#{info.deptName},</if>
        <if test="info.parentNo != null  and info.parentNo != ''">#{info.parentNo},</if>
        <if test="info.orderNo != null ">#{info.orderNo},</if>
        <if test="info.ancestors != null  and info.ancestors != ''">#{info.ancestors},</if>
        <if test="info.leader != null  and info.leader != ''">#{info.leader},</if>
        <if test="info.telephone != null  and info.telephone != ''">#{info.telephone},</if>
        <if test="info.email != null  and info.email != ''">#{info.email},</if>
        <if test="info.checkState != null  and info.checkState != ''">#{info.checkState},</if>
        <if test="info.branchNo != null  and info.branchNo != ''">#{info.branchNo},</if>
        <if test="info.createBy != null  and info.createBy != ''">#{info.createBy},</if>
        <if test="info.createTime != null ">#{info.createTime},</if>
        <if test="info.updateBy != null  and info.updateBy != ''">#{info.updateBy},</if>
        <if test="info.updateTime != null ">#{info.updateTime},</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">#{info.deleteFlag},</if>
        <if test="info.comments != null  and info.comments != ''">#{info.comments},</if>
        <if test="info.appCode != null  and info.appCode != ''">#{info.appCode},</if>
        <if test="info.version != null ">#{info.version}</if>
        )
    </insert>

    <update id="UpdateRecord" parameterType="SysDepartment">
        update sys_department
        <set>
            <if test="info.deptNo != null  and info.deptNo != ''">dept_no = #{info.deptNo},</if>
            <if test="info.deptName != null  and info.deptName != ''">dept_name = #{info.deptName},</if>
            <if test="info.parentNo != null  and info.parentNo != ''">parent_no = #{info.parentNo},</if>
            <if test="info.orderNo != null ">order_no = #{info.orderNo},</if>
            <if test="info.ancestors != null  and info.ancestors != ''">ancestors = #{info.ancestors},</if>
            <if test="info.leader != null  and info.leader != ''">leader = #{info.leader},</if>
            <if test="info.telephone != null  and info.telephone != ''">telephone = #{info.telephone},</if>
            <if test="info.email != null  and info.email != ''">email = #{info.email},</if>
            <if test="info.checkState != null  and info.checkState != ''">check_state = #{info.checkState},</if>
            <if test="info.branchNo != null  and info.branchNo != ''">branch_no = #{info.branchNo},</if>
            <if test="info.createBy != null  and info.createBy != ''">create_by = #{info.createBy},</if>
            <if test="info.createTime != null ">create_time = #{info.createTime},</if>
            <if test="info.updateBy != null  and info.updateBy != ''">update_by = #{info.updateBy},</if>
            <if test="info.updateTime != null ">update_time = #{info.updateTime},</if>
            <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag = #{info.deleteFlag},</if>
            <if test="info.comments != null  and info.comments != ''">comments = #{info.comments},</if>
            <if test="info.appCode != null  and info.appCode != ''">app_code = #{info.appCode},</if>
            <if test="info.version != null ">version = version+1</if>
        </set>
        where delete_flag='1' and app_code=#{info.appCode} and version=#{info.version} and dept_no = #{info.deptNo}
    </update>

    <delete id="HardDeleteByNo">
        delete from sys_department
        where delete_flag='1' and app_code=#{appCode} and dept_no = #{no}
    </delete>

    <delete id="HardDeleteByNos">
        delete from sys_department
        where delete_flag='1' and app_code=#{appCode} and dept_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="HardDeleteByCondition">
        delete from sys_department
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

    <delete id="SoftDeleteByNo">
        update sys_department set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and dept_no = #{no}
    </delete>

    <delete id="SoftDeleteByNos">
        update sys_department set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and dept_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="SoftDeleteByCondition">
        update sys_department set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

</mapper>