<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="mn-vid-sc single_video">
                        <div class="cmt-bx">
                            <ul class="cmt-pr">
                                <li>我的日记</li>
                                <li>
                                    <span>&nbsp;</span>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                            <div class="vcp_inf pc">
                                <div class="vc_hd">
                                    <img src="images/resources/th1.png" alt="">
                                </div>
                                <form>
                                    <input type="text" name="blogcontent" placeholder="输入日志内容">
                                    <button type="button" onclick="onSaveBlog()">发布</button>
                                </form>
                                <div class="clearfix"></div>
                                <div class="rt-cmt">
                                    <a href="#" title="">
                                        <i class="icon-cancel"></i>
                                    </a>
                                    <div class="clearfix"></div>
                                </div><!--vcp_inf end-->
                            </div><!--cmt-bx end-->
                            <ul class="cmn-lst">
                                <li th:each="blogInfo:${pagerInfo.list}">
                                    <div class="vcp_inf">
                                        <div class="vc_hd">
                                            <img src="images/resources/th3.png" alt="">
                                        </div>
                                        <div class="coments">
                                            <h2>[[${blogInfo.blogTitle}]] <small class="posted_dt"> [[${blogInfo.pubTime}]]</small></h2>
                                            <p>[[${blogInfo.blogContent}]]</p>
                                            <ul class="cmn-i">
                                                <li>
                                                    <a href="#" title="">
                                                        <i class="icon-thumbs_up"></i>
                                                    </a>
                                                    <span>[[${blogInfo.dolikeHit}]]</span>
                                                </li>
                                                <li>
                                                    <a href="#" title="">
                                                        <i class="icon-thumbs_down"></i>
                                                    </a>
                                                    <span>0</span>
                                                </li>
                                                <li>
                                                    <a href="#" title="">转发：[[${blogInfo.repostHit}]]</a>
                                                </li>
                                            </ul>

                                        </div><!--coments end-->
                                    </div><!--vcp_inf end-->
                                </li>
                            </ul><!--comment list end-->
                            <nav aria-label="salons list pages" style="text-align: center;">
                                <ul class="pagination">
                                    <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/blogsview/index(pageIndex=1)}">首页</a></li>
                                    <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/blogsview/index(pageIndex=${pagerInfo.pageIndex-1})}">上一页</a></li>
                                    <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/blogsview/index(pageIndex=${pagerInfo.pageIndex+1})}">下一页</a></li>
                                    <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/blogsview/index(pageIndex=${pagerInfo.pageTotal})}">尾页</a></li>
                                    <li class="page-item disabled"> <a class="page-link" href="#">当前第[[${pagerInfo.pageIndex}]]页/共[[${pagerInfo.pageTotal}]]页</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div><!--mn-vid-sc end--->
                </div><!---col-lg-9 end-->
                <div class="col-lg-3">
                    <th:block th:include="include :: topexperts" />
                </div>
            </div>
        </div>
    </section><!--mn-sec end-->

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
<script type="text/javascript">
    function onSaveBlog() {
        var btitle = "日记";
        var bcontent = $("input[name='blogcontent']").val();

        $.ajax({
            type: "post",
            url: "/blogsview/saveBlog",
            data: {
                "title": btitle,
                "content": bcontent
            },
            success: function(res) {
                layer.msg(res.msg)
                location.reload();
            }
        });
    }
</script>
</body>

</html>