<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="videso_section">
        <div class="info-pr-sec">
            <div class="container">
                <div class="viddz">
                    <div class="container">
                        <div class="vidz_sec">
                            <h3>恋爱婚姻</h3>
                            <a href="#" title="">更多</a>
                            <div class="clearfix"></div>
                            <div class="vidz_list">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide1.png" alt="">
                                                    <span class="vid-time">10:21</span>
                                                    <span class="watch_later">
														<i class="icon-watch_later_fill"></i>
													</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">Kingdom Come: Deliverance Funny Moments and Fails</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">newfox media</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                                <span>686K views .<small class="posted_dt">1 week ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide2.png" alt="">
                                                    <span class="vid-time">13:49</span>
                                                    <span class="watch_later">
															<i class="icon-watch_later_fill"></i>
														</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">DR DISRESPECT - Before They Were Famous - Twitch Streamer</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">Eros Now</a> </h4>
                                                <span>283K views .<small class="posted_dt">3 months ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide3.png" alt="">
                                                    <span class="vid-time">2:54</span>
                                                    <span class="watch_later">
															<i class="icon-watch_later_fill"></i>
														</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">Top Perectly Timed Twitch Moments 2017 #7</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">Animal Planet</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                                <span>2.6M views .<small class="posted_dt">2 months ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide4.png" alt="">
                                                    <span class="vid-time">5:25</span>
                                                    <span class="watch_later">
															<i class="icon-watch_later_fill"></i>
														</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">Top 5 Amazing Bridge Block ever in PUBG</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">Maketzi</a> </h4>
                                                <span>612K views .<small class="posted_dt">5 months ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                </div>
                            </div><!--vidz_list end-->
                        </div><!--vidz_videos end-->
                    </div>
                </div><!--viddz end-->
                <div class="viddz">
                    <div class="container">
                        <div class="vidz_sec">
                            <h3>情绪压力</h3>
                            <a href="#" title="">更多</a>
                            <div class="clearfix"></div>
                            <div class="vidz_list">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide1.png" alt="">
                                                    <span class="vid-time">10:21</span>
                                                    <span class="watch_later">
														<i class="icon-watch_later_fill"></i>
													</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">Kingdom Come: Deliverance Funny Moments and Fails</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">newfox media</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                                <span>686K views .<small class="posted_dt">1 week ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide2.png" alt="">
                                                    <span class="vid-time">13:49</span>
                                                    <span class="watch_later">
															<i class="icon-watch_later_fill"></i>
														</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">DR DISRESPECT - Before They Were Famous - Twitch Streamer</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">Eros Now</a> </h4>
                                                <span>283K views .<small class="posted_dt">3 months ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide3.png" alt="">
                                                    <span class="vid-time">2:54</span>
                                                    <span class="watch_later">
															<i class="icon-watch_later_fill"></i>
														</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">Top Perectly Timed Twitch Moments 2017 #7</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">Animal Planet</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                                <span>2.6M views .<small class="posted_dt">2 months ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl">
                                                <a href="#" title="">
                                                    <img src="images/resources/vide4.png" alt="">
                                                    <span class="vid-time">5:25</span>
                                                    <span class="watch_later">
															<i class="icon-watch_later_fill"></i>
														</span>
                                                </a>
                                            </div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="single_video_page.html" title="">Top 5 Amazing Bridge Block ever in PUBG</a></h3>
                                                <h4><a href="Single_Channel_Videos.html" title="">Maketzi</a> </h4>
                                                <span>612K views .<small class="posted_dt">5 months ago</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                </div>
                            </div><!--vidz_list end-->
                        </div><!--vidz_videos end-->
                    </div>
                </div><!--viddz end-->
            </div>
        </div>
    </section>

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>

</html>