<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="ab-history">
                        <div class="history-lst">
                            <div class="container">
                                <div class="history-hd-head">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="watch_history_tab" data-toggle="tab" href="#watch_history" role="tab" aria-controls="watch_history_tab" aria-selected="true">心理咨询师</a>
                                        </li>
                                    </ul><!--nav-tabs end-->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="watch_history" role="tabpanel" aria-labelledby="watch_history_tab">
                                    <div class="tabs_lzt">
                                        <div th:each="exptInfo:${pagerInfo.list}" class="tab-history">
                                            <div class="videoo">
                                                <div class="vid_thumbainl ms">
                                                    <a th:href="@{/expertview/detail(id=${exptInfo.ruserNo})}" th:title="${exptInfo.ruserName}">
                                                        <img th:src="(${exptInfo.avatar} == '') ? @{/imgs/resources/vide6.png} : @{${exptInfo.avatar}}" alt="海报图片">
                                                    </a>
                                                </div><!--vid_thumbnail end-->
                                                <div class="video_info ms">
                                                    <h3><a th:href="@{/expertview/detail(id=${exptInfo.ruserNo})}" th:title="${exptInfo.ruserName}">[[${exptInfo.ruserName}]]</a></h3>
                                                    <h4><a th:href="@{/expertview/detail(id=${exptInfo.ruserNo})}" th:title="${exptInfo.ruserName}">[[${exptInfo.sex}]]</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                                    <span>[[${exptInfo.ruserType}]] <small class="posted_dt">[[${exptInfo.telephone}]]</small></span>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div><!--videoo end-->
                                        </div><!--tab-history end-->
                                        <nav aria-label="salons list pages" style="text-align: center;">
                                            <ul class="pagination">
                                                <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/expertview/index(pageIndex=1)}">首页</a></li>
                                                <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/expertview/index(pageIndex=${pagerInfo.pageIndex-1})}">上一页</a></li>
                                                <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/expertview/index(pageIndex=${pagerInfo.pageIndex+1})}">下一页</a></li>
                                                <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/expertview/index(pageIndex=${pagerInfo.pageTotal})}">尾页</a></li>
                                                <li class="page-item disabled"> <a class="page-link" href="#">当前第[[${pagerInfo.pageIndex}]]页/共[[${pagerInfo.pageTotal}]]页</a></li>
                                            </ul>
                                        </nav>
                                    </div><!--tabs_lz end-->
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--ab-history end-->
                </div><!---col-lg-9 end-->
                <div class="col-lg-3">
                    <th:block th:include="include :: topexperts" />
                </div>
            </div>
        </div>
    </section><!--mn-sec end-->

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>

</html>