<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benet.wkflow.mapper.FlowWorkitemflowMapper">

    <resultMap type="FlowWorkitemflow" id="FlowWorkitemflowResult">
        <result property="id" column="id"/>
        <result property="iflowNo" column="iflow_no"/>
        <result property="tflowNo" column="tflow_no"/>
        <result property="itemState" column="item_state"/>
        <result property="createdTime" column="created_time"/>
        <result property="claimedTime" column="claimed_time"/>
        <result property="endTime" column="end_time"/>
        <result property="actorNo" column="actor_no"/>
        <result property="checkState" column="check_state"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="comments" column="comments"/>
        <result property="appCode" column="app_code"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectFlowWorkitemflowVo">
        select id, iflow_no, tflow_no, item_state, created_time, claimed_time, end_time, actor_no, check_state, create_by, create_time, update_by, update_time, delete_flag, comments, app_code, version from flow_workitemflow
    </sql>

    <select id="getAllRecords" resultMap="FlowWorkitemflowResult">
        <include refid="selectFlowWorkitemflowVo"/>
        where delete_flag='1' and app_code=#{appCode}
    </select>

    <select id="getRecordsByClassNo" resultMap="FlowWorkitemflowResult">
        <include refid="selectFlowWorkitemflowVo"/>
        where delete_flag='1' and app_code=#{appCode} and tflow_no=#{classNo}
    </select>

    <select id="getRecordsByPaging" resultMap="FlowWorkitemflowResult">
        <include refid="selectFlowWorkitemflowVo"/>
        where delete_flag='1' and app_code=${appCode}
        <if test="model.condition != null  and model.condition != ''">and ${model.condition}</if>
        order by ${model.orderField} ${model.orderType} limit ${model.pageIndex},${model.pageSize}
    </select>

    <select id="getRecordByNo" resultMap="FlowWorkitemflowResult">
        <include refid="selectFlowWorkitemflowVo"/>
        where delete_flag='1' and app_code=#{appCode} and iflow_no = #{no}
    </select>

    <select id="getRecordNameByNo" resultType="String">
        select iflow_no from flow_workitemflow
        where delete_flag='1' and app_code=#{appCode} and iflow_no = #{no}
    </select>

    <select id="getCountByCondition" resultType="Integer">
        select count(*) from flow_workitemflow
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </select>

    <insert id="AddNewRecord" parameterType="FlowWorkitemflow" useGeneratedKeys="true" keyProperty="id">
        insert into flow_workitemflow (
        <if test="info.iflowNo != null  and info.iflowNo != ''">iflow_no,</if>
        <if test="info.tflowNo != null  and info.tflowNo != ''">tflow_no,</if>
        <if test="info.itemState != null  and info.itemState != ''">item_state,</if>
        <if test="info.createdTime != null ">created_time,</if>
        <if test="info.claimedTime != null ">claimed_time,</if>
        <if test="info.endTime != null ">end_time,</if>
        <if test="info.actorNo != null  and info.actorNo != ''">actor_no,</if>
        <if test="info.checkState != null  and info.checkState != ''">check_state,</if>
        <if test="info.createBy != null  and info.createBy != ''">create_by,</if>
        <if test="info.createTime != null ">create_time,</if>
        <if test="info.updateBy != null  and info.updateBy != ''">update_by,</if>
        <if test="info.updateTime != null ">update_time,</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag,</if>
        <if test="info.comments != null  and info.comments != ''">comments,</if>
        <if test="info.appCode != null  and info.appCode != ''">app_code,</if>
        <if test="info.version != null ">version</if>
        )values(
        <if test="info.iflowNo != null  and info.iflowNo != ''">#{info.iflowNo},</if>
        <if test="info.tflowNo != null  and info.tflowNo != ''">#{info.tflowNo},</if>
        <if test="info.itemState != null  and info.itemState != ''">#{info.itemState},</if>
        <if test="info.createdTime != null ">#{info.createdTime},</if>
        <if test="info.claimedTime != null ">#{info.claimedTime},</if>
        <if test="info.endTime != null ">#{info.endTime},</if>
        <if test="info.actorNo != null  and info.actorNo != ''">#{info.actorNo},</if>
        <if test="info.checkState != null  and info.checkState != ''">#{info.checkState},</if>
        <if test="info.createBy != null  and info.createBy != ''">#{info.createBy},</if>
        <if test="info.createTime != null ">#{info.createTime},</if>
        <if test="info.updateBy != null  and info.updateBy != ''">#{info.updateBy},</if>
        <if test="info.updateTime != null ">#{info.updateTime},</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">#{info.deleteFlag},</if>
        <if test="info.comments != null  and info.comments != ''">#{info.comments},</if>
        <if test="info.appCode != null  and info.appCode != ''">#{info.appCode},</if>
        <if test="info.version != null ">#{info.version}</if>
        )
    </insert>

    <update id="UpdateRecord" parameterType="FlowWorkitemflow">
        update flow_workitemflow
        <set>
            <if test="info.iflowNo != null  and info.iflowNo != ''">iflow_no = #{info.iflowNo},</if>
            <if test="info.tflowNo != null  and info.tflowNo != ''">tflow_no = #{info.tflowNo},</if>
            <if test="info.itemState != null  and info.itemState != ''">item_state = #{info.itemState},</if>
            <if test="info.createdTime != null ">created_time = #{info.createdTime},</if>
            <if test="info.claimedTime != null ">claimed_time = #{info.claimedTime},</if>
            <if test="info.endTime != null ">end_time = #{info.endTime},</if>
            <if test="info.actorNo != null  and info.actorNo != ''">actor_no = #{info.actorNo},</if>
            <if test="info.checkState != null  and info.checkState != ''">check_state = #{info.checkState},</if>
            <if test="info.createBy != null  and info.createBy != ''">create_by = #{info.createBy},</if>
            <if test="info.createTime != null ">create_time = #{info.createTime},</if>
            <if test="info.updateBy != null  and info.updateBy != ''">update_by = #{info.updateBy},</if>
            <if test="info.updateTime != null ">update_time = #{info.updateTime},</if>
            <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag = #{info.deleteFlag},</if>
            <if test="info.comments != null  and info.comments != ''">comments = #{info.comments},</if>
            <if test="info.appCode != null  and info.appCode != ''">app_code = #{info.appCode},</if>
            <if test="info.version != null ">version = #{info.version}</if>
        </set>
        where delete_flag='1' and app_code=#{info.appCode} and version=#{info.version} and iflow_no =
        #{info.iflowNo}
    </update>

    <delete id="HardDeleteByNo">
        delete from flow_workitemflow
        where delete_flag='1' and app_code=#{appCode} and iflow_no = #{no}
    </delete>

    <delete id="HardDeleteByNos">
        delete from flow_workitemflow
        where delete_flag='1' and app_code=#{appCode} and iflow_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="HardDeleteByCondition">
        delete from flow_workitemflow
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

    <delete id="SoftDeleteByNo">
        update flow_workitemflow set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and iflow_no = #{no}
    </delete>

    <delete id="SoftDeleteByNos">
        update flow_workitemflow set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and iflow_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="SoftDeleteByCondition">
        update flow_workitemflow set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

</mapper>