<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benet.workflow.mapper.FlwTabcolumnMapper">

    <resultMap type="FlwTabcolumn" id="FlwTabcolumnResult">
        <result property="id" column="id"/>
        <result property="columnNo" column="column_no"/>
        <result property="tbformNo" column="tbform_no"/>
        <result property="columnName" column="column_name"/>
        <result property="columnCode" column="column_code"/>
        <result property="columnType" column="column_type"/>
        <result property="columnComment" column="column_comment"/>
        <result property="dataLength" column="data_length"/>
        <result property="dataDefault" column="data_default"/>
        <result property="isPrimkey" column="is_primkey"/>
        <result property="isIncrement" column="is_increment"/>
        <result property="isRequired" column="is_required"/>
        <result property="orderNo" column="order_no"/>
        <result property="checkState" column="check_state"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="comments" column="comments"/>
        <result property="appCode" column="app_code"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectFlwTabcolumnVo">
        select id, column_no, tbform_no, column_name, column_code, column_type, column_comment, data_length, data_default, is_primkey, is_increment, is_required, order_no, check_state, create_by, create_time, update_by, update_time, delete_flag, comments, app_code, version from flw_tabcolumn
    </sql>

    <select id="getAllRecords" resultMap="FlwTabcolumnResult">
        <include refid="selectFlwTabcolumnVo"/>
        where delete_flag='1' and app_code=#{appCode}
    </select>

    <select id="getRecordsByClassNo" resultMap="FlwTabcolumnResult">
        <include refid="selectFlwTabcolumnVo"/>
        where delete_flag='1' and app_code=#{appCode} and tbform_no=#{classNo}
    </select>

    <select id="getRecordsByPaging" resultMap="FlwTabcolumnResult">
        <include refid="selectFlwTabcolumnVo"/>
        where delete_flag='1' and app_code=${appCode}
        <if test="model.condition != null  and model.condition != ''">and ${model.condition}</if>
        order by ${model.orderField} ${model.orderType} limit ${model.pageIndex},${model.pageSize}
    </select>

    <select id="getRecordByNo" resultMap="FlwTabcolumnResult">
        <include refid="selectFlwTabcolumnVo"/>
        where delete_flag='1' and app_code=#{appCode} and column_no = #{no}
    </select>

    <select id="getRecordNameByNo" resultType="String">
        select column_name from flw_tabcolumn
        where delete_flag='1' and app_code=#{appCode} and column_no = #{no}
    </select>

    <select id="getCountByCondition" resultType="Integer">
        select count(*) from flw_tabcolumn
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </select>

    <insert id="AddNewRecord" parameterType="FlwTabcolumn" useGeneratedKeys="true" keyProperty="id">
        insert into flw_tabcolumn (
        <if test="info.columnNo != null  and info.columnNo != ''">column_no,</if>
        <if test="info.tbformNo != null  and info.tbformNo != ''">tbform_no,</if>
        <if test="info.columnName != null  and info.columnName != ''">column_name,</if>
        <if test="info.columnCode != null  and info.columnCode != ''">column_code,</if>
        <if test="info.columnType != null  and info.columnType != ''">column_type,</if>
        <if test="info.columnComment != null  and info.columnComment != ''">column_comment,</if>
        <if test="info.dataLength != null ">data_length,</if>
        <if test="info.dataDefault != null  and info.dataDefault != ''">data_default,</if>
        <if test="info.isPrimkey != null  and info.isPrimkey != ''">is_primkey,</if>
        <if test="info.isIncrement != null  and info.isIncrement != ''">is_increment,</if>
        <if test="info.isRequired != null  and info.isRequired != ''">is_required,</if>
        <if test="info.orderNo != null ">order_no,</if>
        <if test="info.checkState != null  and info.checkState != ''">check_state,</if>
        <if test="info.createBy != null  and info.createBy != ''">create_by,</if>
        <if test="info.createTime != null ">create_time,</if>
        <if test="info.updateBy != null  and info.updateBy != ''">update_by,</if>
        <if test="info.updateTime != null ">update_time,</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag,</if>
        <if test="info.comments != null  and info.comments != ''">comments,</if>
        <if test="info.appCode != null  and info.appCode != ''">app_code,</if>
        <if test="info.version != null ">version</if>
        )values(
        <if test="info.columnNo != null  and info.columnNo != ''">#{info.columnNo},</if>
        <if test="info.tbformNo != null  and info.tbformNo != ''">#{info.tbformNo},</if>
        <if test="info.columnName != null  and info.columnName != ''">#{info.columnName},</if>
        <if test="info.columnCode != null  and info.columnCode != ''">#{info.columnCode},</if>
        <if test="info.columnType != null  and info.columnType != ''">#{info.columnType},</if>
        <if test="info.columnComment != null  and info.columnComment != ''">#{info.columnComment},</if>
        <if test="info.dataLength != null ">#{info.dataLength},</if>
        <if test="info.dataDefault != null  and info.dataDefault != ''">#{info.dataDefault},</if>
        <if test="info.isPrimkey != null  and info.isPrimkey != ''">#{info.isPrimkey},</if>
        <if test="info.isIncrement != null  and info.isIncrement != ''">#{info.isIncrement},</if>
        <if test="info.isRequired != null  and info.isRequired != ''">#{info.isRequired},</if>
        <if test="info.orderNo != null ">#{info.orderNo},</if>
        <if test="info.checkState != null  and info.checkState != ''">#{info.checkState},</if>
        <if test="info.createBy != null  and info.createBy != ''">#{info.createBy},</if>
        <if test="info.createTime != null ">#{info.createTime},</if>
        <if test="info.updateBy != null  and info.updateBy != ''">#{info.updateBy},</if>
        <if test="info.updateTime != null ">#{info.updateTime},</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">#{info.deleteFlag},</if>
        <if test="info.comments != null  and info.comments != ''">#{info.comments},</if>
        <if test="info.appCode != null  and info.appCode != ''">#{info.appCode},</if>
        <if test="info.version != null ">#{info.version}</if>
        )
    </insert>

    <update id="UpdateRecord" parameterType="FlwTabcolumn">
        update flw_tabcolumn
        <set>
            <if test="info.columnNo != null  and info.columnNo != ''">column_no = #{info.columnNo},</if>
            <if test="info.tbformNo != null  and info.tbformNo != ''">tbform_no = #{info.tbformNo},</if>
            <if test="info.columnName != null  and info.columnName != ''">column_name = #{info.columnName},</if>
            <if test="info.columnCode != null  and info.columnCode != ''">column_code = #{info.columnCode},</if>
            <if test="info.columnType != null  and info.columnType != ''">column_type = #{info.columnType},</if>
            <if test="info.columnComment != null  and info.columnComment != ''">column_comment =
                #{info.columnComment},
            </if>
            <if test="info.dataLength != null ">data_length = #{info.dataLength},</if>
            <if test="info.dataDefault != null  and info.dataDefault != ''">data_default = #{info.dataDefault},</if>
            <if test="info.isPrimkey != null  and info.isPrimkey != ''">is_primkey = #{info.isPrimkey},</if>
            <if test="info.isIncrement != null  and info.isIncrement != ''">is_increment = #{info.isIncrement},</if>
            <if test="info.isRequired != null  and info.isRequired != ''">is_required = #{info.isRequired},</if>
            <if test="info.orderNo != null ">order_no = #{info.orderNo},</if>
            <if test="info.checkState != null  and info.checkState != ''">check_state = #{info.checkState},</if>
            <if test="info.createBy != null  and info.createBy != ''">create_by = #{info.createBy},</if>
            <if test="info.createTime != null ">create_time = #{info.createTime},</if>
            <if test="info.updateBy != null  and info.updateBy != ''">update_by = #{info.updateBy},</if>
            <if test="info.updateTime != null ">update_time = #{info.updateTime},</if>
            <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag = #{info.deleteFlag},</if>
            <if test="info.comments != null  and info.comments != ''">comments = #{info.comments},</if>
            <if test="info.appCode != null  and info.appCode != ''">app_code = #{info.appCode},</if>
            <if test="info.version != null ">version = version+1</if>
        </set>
        where delete_flag='1' and app_code=#{info.appCode} and version=#{info.version} and column_no =
        #{info.columnNo}
    </update>

    <delete id="HardDeleteByNo">
        delete from flw_tabcolumn
        where delete_flag='1' and app_code=#{appCode} and column_no = #{no}
    </delete>

    <delete id="HardDeleteByNos">
        delete from flw_tabcolumn
        where delete_flag='1' and app_code=#{appCode} and column_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="HardDeleteByCondition">
        delete from flw_tabcolumn
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

    <delete id="SoftDeleteByNo">
        update flw_tabcolumn set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and column_no = #{no}
    </delete>

    <delete id="SoftDeleteByNos">
        update flw_tabcolumn set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and column_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="SoftDeleteByCondition">
        update flw_tabcolumn set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

</mapper>