<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="videso_section">
        <div class="info-pr-sec">
            <div class="container">
                <div class="vidz_sec">
                    <h3>报告列表</h3>
                    <div class="clearfix"></div>
                    <div class="vidz_list">
                        <div class="row">
                            <div th:each="reptInfo:${pagerInfo.list}" class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                <div class="videoo">
                                    <div class="vid_thumbainl">
                                        <a th:href="@{/reportview/detail(id=${reptInfo.reptNo})}" title="">
                                            <img src="images/resources/vide1.png" alt="">
                                        </a>
                                    </div><!--vid_thumbnail end-->
                                    <div class="video_info">
                                        <h3><a th:href="@{/reportview/detail(id=${reptInfo.reptNo})}" title="" target="_blank">[[${reptInfo.reptName}]]</a></h3>
                                        <h4><a th:href="@{/reportview/detail(id=${reptInfo.reptNo})}" title="" target="_blank">作者</a> <span class="verify_ic"><i class="icon-tick"></i></span></h4>
                                        <span>[[${reptInfo.reptType}]]<small class="posted_dt">[[${reptInfo.pubDate}]]</small></span>
                                    </div>
                                </div><!--videoo end-->
                            </div>
                        </div>
                    </div><!--vidz_list end-->
                    <nav aria-label="salons list pages" style="text-align: center;">
                        <ul class="pagination">
                            <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/reportview/index(pageIndex=1)}">首页</a></li>
                            <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/reportview/index(pageIndex=${pagerInfo.pageIndex-1})}">上一页</a></li>
                            <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/reportview/index(pageIndex=${pagerInfo.pageIndex+1})}">下一页</a></li>
                            <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/reportview/index(pageIndex=${pagerInfo.pageTotal})}">尾页</a></li>
                            <li class="page-item" style="padding:33px 0 0 60px;"> <span>当前第[[${pagerInfo.pageIndex}]]页/共[[${pagerInfo.pageTotal}]]页</span></li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div><!--vidz_videos end-->
            </div>
        </div>
    </section>

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>

</html>