<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benet.collect.mapper.CctRegistinfoMapper">

    <resultMap type="CctRegistinfo" id="CctRegistinfoResult">
        <result property="id" column="id"/>
        <result property="registNo" column="regist_no"/>
        <result property="registType" column="regist_type"/>
        <result property="registTime" column="regist_time"/>
        <result property="dataFrom" column="data_from"/>
        <result property="expertNo" column="expert_no"/>
        <result property="ruserNo" column="ruser_no"/>
        <result property="checkState" column="check_state"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="comments" column="comments"/>
        <result property="appCode" column="app_code"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectCctRegistinfoVo">
        select id, regist_no, regist_type, regist_time, data_from, expert_no, ruser_no, check_state, create_by, create_time, update_by, update_time, delete_flag, comments, app_code, version from cct_registinfo
    </sql>

    <select id="getAllRecords" resultMap="CctRegistinfoResult">
        <include refid="selectCctRegistinfoVo"/>
        where delete_flag='1' and app_code=#{appCode}
    </select>

    <select id="getRecordsByClassNo" resultMap="CctRegistinfoResult">
        <include refid="selectCctRegistinfoVo"/>
        where delete_flag='1' and app_code=#{appCode} and expert_no=#{classNo}
    </select>

    <select id="getRecordsByPaging" resultMap="CctRegistinfoResult">
        <include refid="selectCctRegistinfoVo"/>
        where delete_flag='1' and app_code=${appCode}
        <if test="model.condition != null  and model.condition != ''">and ${model.condition}</if>
        order by ${model.orderField} ${model.orderType} limit ${model.pageIndex},${model.pageSize}
    </select>

    <select id="getRecordByNo" resultMap="CctRegistinfoResult">
        <include refid="selectCctRegistinfoVo"/>
        where delete_flag='1' and app_code=#{appCode} and regist_no = #{no}
    </select>

    <select id="getRecordNameByNo" resultType="String">
        select regist_no from cct_registinfo
        where delete_flag='1' and app_code=#{appCode} and regist_no = #{no}
    </select>

    <select id="getCountByCondition" resultType="Integer">
        select count(*) from cct_registinfo
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </select>

    <insert id="AddNewRecord" parameterType="CctRegistinfo" useGeneratedKeys="true" keyProperty="id">
        insert into cct_registinfo (
        <if test="info.registNo != null  and info.registNo != ''">regist_no,</if>
        <if test="info.registType != null ">regist_type,</if>
        <if test="info.registTime != null ">regist_time,</if>
        <if test="info.dataFrom != null  and info.dataFrom != ''">data_from,</if>
        <if test="info.expertNo != null  and info.expertNo != ''">expert_no,</if>
        <if test="info.ruserNo != null  and info.ruserNo != ''">ruser_no,</if>
        <if test="info.checkState != null  and info.checkState != ''">check_state,</if>
        <if test="info.createBy != null  and info.createBy != ''">create_by,</if>
        <if test="info.createTime != null ">create_time,</if>
        <if test="info.updateBy != null  and info.updateBy != ''">update_by,</if>
        <if test="info.updateTime != null ">update_time,</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag,</if>
        <if test="info.comments != null  and info.comments != ''">comments,</if>
        <if test="info.appCode != null  and info.appCode != ''">app_code,</if>
        <if test="info.version != null ">version</if>
        )values(
        <if test="info.registNo != null  and info.registNo != ''">#{info.registNo},</if>
        <if test="info.registType != null ">#{info.registType},</if>
        <if test="info.registTime != null ">#{info.registTime},</if>
        <if test="info.dataFrom != null  and info.dataFrom != ''">#{info.dataFrom},</if>
        <if test="info.expertNo != null  and info.expertNo != ''">#{info.expertNo},</if>
        <if test="info.ruserNo != null  and info.ruserNo != ''">#{info.ruserNo},</if>
        <if test="info.checkState != null  and info.checkState != ''">#{info.checkState},</if>
        <if test="info.createBy != null  and info.createBy != ''">#{info.createBy},</if>
        <if test="info.createTime != null ">#{info.createTime},</if>
        <if test="info.updateBy != null  and info.updateBy != ''">#{info.updateBy},</if>
        <if test="info.updateTime != null ">#{info.updateTime},</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">#{info.deleteFlag},</if>
        <if test="info.comments != null  and info.comments != ''">#{info.comments},</if>
        <if test="info.appCode != null  and info.appCode != ''">#{info.appCode},</if>
        <if test="info.version != null ">#{info.version}</if>
        )
    </insert>

    <update id="UpdateRecord" parameterType="CctRegistinfo">
        update cct_registinfo
        <set>
            <if test="info.registNo != null  and info.registNo != ''">regist_no = #{info.registNo},</if>
            <if test="info.registType != null ">regist_type = #{info.registType},</if>
            <if test="info.registTime != null ">regist_time = #{info.registTime},</if>
            <if test="info.dataFrom != null  and info.dataFrom != ''">data_from = #{info.dataFrom},</if>
            <if test="info.expertNo != null  and info.expertNo != ''">expert_no = #{info.expertNo},</if>
            <if test="info.ruserNo != null  and info.ruserNo != ''">ruser_no = #{info.ruserNo},</if>
            <if test="info.checkState != null  and info.checkState != ''">check_state = #{info.checkState},</if>
            <if test="info.createBy != null  and info.createBy != ''">create_by = #{info.createBy},</if>
            <if test="info.createTime != null ">create_time = #{info.createTime},</if>
            <if test="info.updateBy != null  and info.updateBy != ''">update_by = #{info.updateBy},</if>
            <if test="info.updateTime != null ">update_time = #{info.updateTime},</if>
            <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag = #{info.deleteFlag},</if>
            <if test="info.comments != null  and info.comments != ''">comments = #{info.comments},</if>
            <if test="info.appCode != null  and info.appCode != ''">app_code = #{info.appCode},</if>
            <if test="info.version != null ">version = #{info.version}</if>
        </set>
        where delete_flag='1' and app_code=#{info.appCode} and version=#{info.version} and regist_no =
        #{info.registNo}
    </update>

    <delete id="HardDeleteByNo">
        delete from cct_registinfo
        where delete_flag='1' and app_code=#{appCode} and regist_no = #{no}
    </delete>

    <delete id="HardDeleteByNos">
        delete from cct_registinfo
        where delete_flag='1' and app_code=#{appCode} and regist_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="HardDeleteByCondition">
        delete from cct_registinfo
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

    <delete id="SoftDeleteByNo">
        update cct_registinfo set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and regist_no = #{no}
    </delete>

    <delete id="SoftDeleteByNos">
        update cct_registinfo set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and regist_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="SoftDeleteByCondition">
        update cct_registinfo set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

</mapper>