<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: headblock('心理测评中心-找回密码')" />
</head>
<body>
<div class="wrapper">
	<th:block th:include="include :: topsimpbar" />

	<section class="form_popup">
		
		<div class="signup_form" id="signup_form">
		 	<div class="hd-lg">
		 		<img th:src="@{/images/logo.png}" alt="">
		 		<span>找回密码</span>
		 	</div><!--hd-lg end-->
			<div class="user-account-pr">
				<form>
					<div class="input-sec mgb25">
						<input type="text" name="username" placeholder="账号">
					</div>
					<div class="input-sec">
						<input type="email" name="email" placeholder="邮箱">
					</div>
					<div class="input-sec">
						<input type="Password" name="password" placeholder="密码">
					</div>
					<div class="input-sec">
						<input type="password" name="confirm-password" placeholder="重复密码">
					</div>
					<div class="input-sec mb-0">
						<button type="submit">提交</button>
					</div><!--input-sec end-->
				</form>
				<div style="text-align: right;">
					<a href="/login" title="" >马上登录</a>
				</div>
			</div><!--user-account end--->
		</div><!--login end--->

	</section><!--form_popup end-->

	<th:block th:include="include :: copyright" />
</div><!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>
</html>