<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: headblock('心理测评中心-登录')" />
</head>
<body>

<div class="wrapper">
	<th:block th:include="include :: topsimpbar" />

	<section class="form_popup">
		<div class="login_form" id="login_form">
		 	<div class="hd-lg">
		 		<img th:src="@{/imgs/logo.png}" alt="">
		 		<span>登录账号</span>
		 	</div><!--hd-lg end-->
			<div class="user-account-pr">
				<form>
					<div class="input-sec">
						<input type="text" name="username" placeholder="账号">
					</div>
					<div class="input-sec">
						<input type="Password" name="password" placeholder="密码">
					</div>
					<div class="input-sec">
						<input type="text" name="verifyCode" placeholder="验证码" style="width: 70%;">
						<a href="javascript:void(0);" onclick="getCode()" >
							<img id="verifyCode" name="verifyCode" src="/getCode" style="position:relative;top:6px;width: 100px;height:36px;" />
						</a>
					</div>
					<div class="chekbox-lg">
						<label>
							<input type="checkbox" id="rememberme" name="rememberme">
							<b class="checkmark"> </b>
							<span>记住我</span>
						</label>
					</div>
					<div class="input-sec mb-0">
						<button type="button" onclick="signin()">登录</button>
					</div><!--input-sec end-->
				</form>
				<div style="text-align: right;">
					<a href="/regist" title="" >注册账号</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="/forget" title="" >找回密码</a>
				</div>
			</div><!--user-account end--->
		</div><!--login end--->

	</section><!--form_popup end-->

	<th:block th:include="include :: copyright" />
</div><!--wrapper end-->

<th:block th:include="include :: scriptblock" />
<script type="text/javascript">

	function getCode() {
		document.getElementById("verifyCode").setAttribute("src","/getCode");
	}

	function signin() {
		var username = $("input[name='username']").val();
		var password = $("input[name='password']").val();
		var verifyCode = $("input[name='verifyCode']").val();
		var rememberMe = $("input[name='rememberme']").is(':checked');
		$.ajax({
			type: "post",
			url: "/ajaxLogin",
			data: {
				"username": username,
				"password": password,
				"verifyCode": verifyCode,
				"rememberMe": rememberMe
			},
			success: function(res) {
				if(res.code===200){
					location.href = ctx + 'index';
				}else {
					layer.msg(res.msg)
					getCode();
				}
			}
		});
	}
</script>

</body>
</html>