<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: headblock('心理测评中心-控制台')" />
</head>
<body>
<div class="wrapper hp_1">
    <th:block th:include="include :: topmenubar" />

    <th:block th:include="include :: sidemenubar" />

    <section class="mn-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="history-lst">
                        <div class="container">
                            <div class="history-hd-head">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="watch_history_tab" data-toggle="tab" href="#watch_history" role="tab" aria-controls="watch_history_tab" aria-selected="true">通知公告</a>
                                    </li>
                                </ul><!--nav-tabs end-->
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="watch_history" role="tabpanel" aria-labelledby="watch_history_tab">
                                <div class="tabs_lzt">
                                    <div th:each="contzInfo:${pagerInfo.list}">
                                        <p>
                                            <a th:href="@{/newsview/detail(id=${contzInfo.cntzNo})}" target="_blank" th:title="${contzInfo.title}">[[${contzInfo.title}]]</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>点击次数:[[${contzInfo.hitCount}]]  &nbsp;&nbsp;&nbsp;&nbsp;发布时间:<small class="posted_dt">[[${contzInfo.pubdate}]]</small></span>
                                        </p>
                                    </div><!--tab-history end-->
                                    <nav aria-label="news list pages" style="text-align: center;">
                                        <ul class="pagination">
                                            <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/newsview/index(pageIndex=1)}">首页</a></li>
                                            <li th:class="${pagerInfo.pageIndex>1}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/newsview/index(pageIndex=${pagerInfo.pageIndex-1})}">上一页</a></li>
                                            <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/newsview/index(pageIndex=${pagerInfo.pageIndex+1})}">下一页</a></li>
                                            <li th:class="${pagerInfo.pageIndex<pagerInfo.pageTotal}?'page-item':'page-item disabled'"><a class="page-link" th:href="@{/newsview/index(pageIndex=${pagerInfo.pageTotal})}">尾页</a></li>
                                            <li class="page-item disabled"> <a class="page-link" href="#">当前第[[${pagerInfo.pageIndex}]]页/共[[${pagerInfo.pageTotal}]]页</a></li>
                                        </ul>
                                    </nav>
                                </div><!--tabs_lz end-->
                            </div>
                        </div>
                    </div>
                </div><!---col-lg-9 end-->
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="vidz-adimg">
                            <img src="/imgs/resources/vide6.png" alt="" />
                        </div>
                        <div class="vidz-prt">
                            <h2 class="sm-vidz" style="font-weight: bold;">热门推荐</h2>
                            <div class="clearfix"></div>
                        </div><!--vidz-prt end-->
                        <div class="videoo-list-ab">
                            <ul>
                                <li><a href="#" title="">一例厌学高中生的咨询案例报告 79140次阅读  9个赞</a> </li>
                                <li><a href="#" title="">一例厌学高中生的咨询案例报告 79140次阅读  9个赞</a> </li>
                                <li><a href="#" title="">一例厌学高中生的咨询案例报告 79140次阅读  9个赞</a> </li>
                                <li><a href="#" title="">一例厌学高中生的咨询案例报告 79140次阅读  9个赞</a> </li>
                            </ul>
                        </div><!--videoo-list-ab end-->
                    </div><!--side-bar end-->
                </div>
            </div>
        </div>
    </section><!--mn-sec end-->

    <th:block th:include="include :: copyright" />
</div>
<!--wrapper end-->

<th:block th:include="include :: scriptblock" />
</body>

</html>