<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benet.process.mapper.CssdStockflowsMapper">

    <resultMap type="CssdStockflows" id="CssdStockflowsResult">
        <result property="id" column="id"/>
        <result property="sflowNo" column="sflow_no"/>
        <result property="sflowType" column="sflow_type"/>
        <result property="storeNo" column="store_no"/>
        <result property="equipNo" column="equip_no"/>
        <result property="equipType" column="equip_type"/>
        <result property="equipNum" column="equip_num"/>
        <result property="produceNumber" column="produce_number"/>
        <result property="produceDate" column="produce_date"/>
        <result property="expireDate" column="expire_date"/>
        <result property="branchNo" column="branch_no"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="comments" column="comments"/>
        <result property="appCode" column="app_code"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectCssdStockflowsVo">
        select id, sflow_no, sflow_type, store_no, equip_no, equip_type, equip_num, produce_number, produce_date, expire_date, branch_no, create_by, create_time, update_by, update_time, delete_flag, comments, app_code, version from cssd_stockflows
    </sql>

    <select id="getAllRecords" resultMap="CssdStockflowsResult">
        <include refid="selectCssdStockflowsVo"/>
        where delete_flag='1' and app_code=#{appCode}
    </select>

    <select id="getRecordsByClassNo" resultMap="CssdStockflowsResult">
        <include refid="selectCssdStockflowsVo"/>
        where delete_flag='1' and app_code=#{appCode} and store_no=#{classNo}
    </select>

    <select id="getRecordsByPaging" resultMap="CssdStockflowsResult">
        <include refid="selectCssdStockflowsVo"/>
        where delete_flag='1' and app_code=${appCode}
        <if test="model.condition != null  and model.condition != ''">and ${model.condition}</if>
        order by ${model.orderField} ${model.orderType} limit ${model.pageIndex},${model.pageSize}
    </select>

    <select id="getRecordByNo" resultMap="CssdStockflowsResult">
        <include refid="selectCssdStockflowsVo"/>
        where delete_flag='1' and app_code=#{appCode} and sflow_no = #{no}
    </select>

    <select id="getRecordNameByNo" resultType="String">
        select equip_no from cssd_stockflows
        where delete_flag='1' and app_code=#{appCode} and sflow_no = #{no}
    </select>

    <select id="getCountByCondition" resultType="Integer">
        select count(*) from cssd_stockflows
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </select>

    <insert id="AddNewRecord" parameterType="CssdStockflows" useGeneratedKeys="true" keyProperty="id">
        insert into cssd_stockflows (
        <if test="info.sflowNo != null  and info.sflowNo != ''">sflow_no,</if>
        <if test="info.sflowType != null  and info.sflowType != ''">sflow_type,</if>
        <if test="info.storeNo != null  and info.storeNo != ''">store_no,</if>
        <if test="info.equipNo != null  and info.equipNo != ''">equip_no,</if>
        <if test="info.equipType != null  and info.equipType != ''">equip_type,</if>
        <if test="info.equipNum != null ">equip_num,</if>
        <if test="info.produceNumber != null  and info.produceNumber != ''">produce_number,</if>
        <if test="info.produceDate != null ">produce_date,</if>
        <if test="info.expireDate != null ">expire_date,</if>
        <if test="info.branchNo != null  and info.branchNo != ''">branch_no,</if>
        <if test="info.createBy != null  and info.createBy != ''">create_by,</if>
        <if test="info.createTime != null ">create_time,</if>
        <if test="info.updateBy != null  and info.updateBy != ''">update_by,</if>
        <if test="info.updateTime != null ">update_time,</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag,</if>
        <if test="info.comments != null  and info.comments != ''">comments,</if>
        <if test="info.appCode != null  and info.appCode != ''">app_code,</if>
        <if test="info.version != null ">version</if>
        )values(
        <if test="info.sflowNo != null  and info.sflowNo != ''">#{info.sflowNo},</if>
        <if test="info.sflowType != null  and info.sflowType != ''">#{info.sflowType},</if>
        <if test="info.storeNo != null  and info.storeNo != ''">#{info.storeNo},</if>
        <if test="info.equipNo != null  and info.equipNo != ''">#{info.equipNo},</if>
        <if test="info.equipType != null  and info.equipType != ''">#{info.equipType},</if>
        <if test="info.equipNum != null ">#{info.equipNum},</if>
        <if test="info.produceNumber != null  and info.produceNumber != ''">#{info.produceNumber},</if>
        <if test="info.produceDate != null ">#{info.produceDate},</if>
        <if test="info.expireDate != null ">#{info.expireDate},</if>
        <if test="info.branchNo != null  and info.branchNo != ''">#{info.branchNo},</if>
        <if test="info.createBy != null  and info.createBy != ''">#{info.createBy},</if>
        <if test="info.createTime != null ">#{info.createTime},</if>
        <if test="info.updateBy != null  and info.updateBy != ''">#{info.updateBy},</if>
        <if test="info.updateTime != null ">#{info.updateTime},</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">#{info.deleteFlag},</if>
        <if test="info.comments != null  and info.comments != ''">#{info.comments},</if>
        <if test="info.appCode != null  and info.appCode != ''">#{info.appCode},</if>
        <if test="info.version != null ">#{info.version}</if>
        )
    </insert>

    <update id="UpdateRecord" parameterType="CssdStockflows">
        update cssd_stockflows
        <set>
            <if test="info.sflowNo != null  and info.sflowNo != ''">sflow_no = #{info.sflowNo},</if>
            <if test="info.sflowType != null  and info.sflowType != ''">sflow_type = #{info.sflowType},</if>
            <if test="info.storeNo != null  and info.storeNo != ''">store_no = #{info.storeNo},</if>
            <if test="info.equipNo != null  and info.equipNo != ''">equip_no = #{info.equipNo},</if>
            <if test="info.equipType != null  and info.equipType != ''">equip_type = #{info.equipType},</if>
            <if test="info.equipNum != null ">equip_num = #{info.equipNum},</if>
            <if test="info.produceNumber != null  and info.produceNumber != ''">produce_number =
                #{info.produceNumber},
            </if>
            <if test="info.produceDate != null ">produce_date = #{info.produceDate},</if>
            <if test="info.expireDate != null ">expire_date = #{info.expireDate},</if>
            <if test="info.branchNo != null  and info.branchNo != ''">branch_no = #{info.branchNo},</if>
            <if test="info.createBy != null  and info.createBy != ''">create_by = #{info.createBy},</if>
            <if test="info.createTime != null ">create_time = #{info.createTime},</if>
            <if test="info.updateBy != null  and info.updateBy != ''">update_by = #{info.updateBy},</if>
            <if test="info.updateTime != null ">update_time = #{info.updateTime},</if>
            <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag = #{info.deleteFlag},</if>
            <if test="info.comments != null  and info.comments != ''">comments = #{info.comments},</if>
            <if test="info.appCode != null  and info.appCode != ''">app_code = #{info.appCode},</if>
            <if test="info.version != null ">version = #{info.version}</if>
        </set>
        where delete_flag='1' and app_code=#{info.appCode} and version=#{info.version} and sflow_no =
        #{info.sflowNo}
    </update>

    <delete id="HardDeleteByNo">
        delete from cssd_stockflows
        where delete_flag='1' and app_code=#{appCode} and sflow_no = #{no}
    </delete>

    <delete id="HardDeleteByNos">
        delete from cssd_stockflows
        where delete_flag='1' and app_code=#{appCode} and sflow_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="HardDeleteByCondition">
        delete from cssd_stockflows
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

    <delete id="SoftDeleteByNo">
        update cssd_stockflows set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and sflow_no = #{no}
    </delete>

    <delete id="SoftDeleteByNos">
        update cssd_stockflows set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and sflow_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="SoftDeleteByCondition">
        update cssd_stockflows set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

</mapper>